.post-a-comment {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 130%;
    padding: 1.25rem;
}
.your-comment{
    font-size: 1.75rem;
}
.comment-form button{
    font-size: 2.25rem;
}.comment-form input{
    font-size: 2.25rem;
}