.category-list{
        width: 33%;
        height: 10%;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: .75rem;
    display: inline-block;
    margin: 10px 10px;
    list-style: none;
    
}
.category-box{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    display:inline-flex;
    /* border-style: solid;
    border-color: black;
    border-radius: 1px; */
    justify-content: center;
    padding-bottom: 2rem;
}